<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <!--Database Connection-->
        <add key="ConnectionString" value="Data Source=10.160.0.19\SQL03; Initial Catalog=ELS_ProHandler_Mandaue; User Id=oos; Password=it-oos; MultipleActiveResultSets=True"/>
        <add key="LogFile" value="D:\log"/>
    </appSettings>
</configuration>